---
//Images
import { Image } from "astro:assets";
import Image1 from "../assets/Image-1.jpg";
import Image2 from "../assets/Image-2.jpg";
import Image3 from "../assets/Image-3.jpg";
import Image4 from "../assets/Image-4.jpg";
import Image5 from "../assets/Image-5.jpg";
import Image6 from "../assets/Image-6.jpg";
import Image7 from "../assets/Image-7.jpg";
import Image8 from "../assets/Image-8.jpg";
import Image9 from "../assets/Image-9.jpg";
---

<section class="bg-white antialiased md:mx-4 lg:my-20">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
            <div>
                <Image src={Image1} alt="" class="h-auto max-w-full rounded-md"></Image>
            </div>
            <div>
                <Image src={Image2} alt="" class="h-auto max-w-full rounded-md"></Image>
            </div>
            <div>
                <Image src={Image3} alt="" class="h-auto max-w-full rounded-md"></Image>
            </div>
            <div>
                <Image src={Image4} alt="" class="h-auto max-w-full rounded-md"></Image>
            </div>
            <div>
                <Image src={Image5} alt="" class="h-auto max-w-full rounded-md"></Image>
            </div>
            <div>
                <Image src={Image6} alt="" class="h-auto max-w-full rounded-md"></Image>
            </div>
            <div>
                <Image src={Image7} alt="" class="h-auto max-w-full rounded-md"></Image>
            </div>
            <div>
                <Image src={Image8} alt="" class="h-auto max-w-full rounded-md"></Image>
            </div>
            <div>
                <Image src={Image9} alt="" class="h-auto max-w-full rounded-md"></Image>
            </div>
        </div>
        
    </div>

</section>
